//******外边距原子样式******/
.mr10{margin-right: 10px}
.mr20{margin-right: 20px}
.ml5{margin-left: 5px}
.ml10{margin-left: 10px}
.ml20{margin-left: 20px}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}
.mb10{margin-bottom: 10px}
.mb20{margin-bottom: 20px}

//******nei边距原子样式******/
.pdlr20{padding: 0 20px}


//******布局样式******/
.row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.row-center{
  @extend .row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.row-between {
  @extend .row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.row-around {
  @extend .row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.row-end {
  @extend .row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.row-wrap{
  @extend .row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.row-nowrap{
  @extend .row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.column-center{
  @extend .column;
  align-items: center;
  -webkit-align-items: center;
}
.column-around{
  @extend .column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.column-between{
  @extend .column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}


//******图片样式******/
@mixin icon-image($size){
  height: $size;
  width: $size;
  vertical-align: middle;
  -webkit-vertical-align: middle;
}
.icon {
  @include icon-image(20px);
}
.icon-lg {
  @include icon-image(30px);
}
.icon-xl {
  @include icon-image(50px);
}
.icon-xxl{
  @include icon-image(60px);
}
.icon-round {
  border-radius: 50%;
}

//******间隔******/
.hr60{
  width: 100%;
  height: 60px;
}
.hr100{
  width: 100%;
  height: 100px;
}
.h-gap{
  width: 100%;
  height: 14px;
}
.br{
  width: 20px;
  height: 6px;
}

//******常用******/
.hidden {
  display:none;
}
img {
  object-fit: cover;
}
